*{margin: 0; padding: 0;}
 
body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}
 
.menu{
list-style:none; 
border:1px solid #c0c0c0; 
float:center;
position: absolute;
}

.navbar {
  position: fixed;
  top: 0;
  right: 100%;
  width: 100%;
  height: 100%;
  z-index: 1000;
  margin: 0;
  padding: 0;
  float: none;
  overflow: scroll;
  background: #fff;
  background: hsla(0,0%,100%,.98);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: position;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200%;
    background-color: rgb(17, 45, 167);
    color: white;
    text-align: center;
    font-size: larger;
  }