
.header {
  min-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: #ECECEC;
  z-index: 2;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200%;
    background-color: rgb(17, 45, 167);
    color: white;
    text-align: center;
    font-size: larger;
  }