*{margin: 0; padding: 0;}
 
body{
font-family: arial, helvetica, sans-serif;
font-size: 12px;
}
 
.menu{
list-style:none; 
border:1px solid #c0c0c0; 
float:center; 
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: white;
    text-align: center;
  }