
	.body {
    padding:0px;
    margin:0px;
  }

  .menu ul {
    position: fixed;
    padding:0px;
    margin:0px;
    float: left;
    width: 100%;
    background-color:#EDEDED;
    list-style:none;
    font: 100% Tahoma;
  }

  .menu ul li { display: inline; }

  .menu ul li a {
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:9px solid #EDEDED;
    padding: 2px 10px;
    float:center;
  }

  .menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid chartreuse;
  }

.header {
  position: relative;
  display: inline;
  top: 0;
  right: 0;
  height: 50px;
  left: 0;
  border-bottom: 1px solid #ccc;
  background: #ECECEC;
  z-index: 2;
}





.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(17, 45, 167);
    color: white;
    text-align: center;
    font-size: larger;
  }